faiss-cpu
numpy==1.26.3
openai>=1.12.0
scikit-learn
sentence-transformers>=5.1.0
tenacity==8.2.3
tiktoken==0.5.1
torch
transformers>=4.57.0
umap-learn==0.5.5
urllib3==1.26.6 


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